* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100;
    width: 100;
    background: black;
}

h1 {
    color: white;
    text-align: center;
}

#button1 {
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    background-color: rgb(238, 209, 22);
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box {
    background: blueviolet;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}